*{
padding: 0;
margin: 0;
box-sizing: border-box;
list-style: none;
}
body{
font-family: 'Open Sans', sans-serif;
}
nav{
padding-top: 15px;
background: url(img/Rectangle.png);
background-repeat: no-repeat;
background-size: cover;
}
.finance{
color: #28A745;
font-weight: 400;
font-size: 35px;
margin-left: 10px;
}
.financeS{
color: #FFFFFF;
}
.logoCard{
display: flex;
align-items: start;
}
.list_a{
text-decoration: none;
margin-left: 20px;
color: #FFFFFF;
}
.list_itam{
font-weight: 400;
font-size: 18px;
color: #FFFFFF;
}
.list{
display: flex;
justify-content: space-between;
}
/* ============================================================================== */
.skyCard{
text-align: center;
margin-top: 225px;
margin-bottom: 240px;
}
.sky{
color: #E9E9E9;
font-weight: 300;
font-size: 55px;
}
.weProvide{
font-weight: 400;
font-size: 22px;
color: #E9E9E9;
margin-top: 25px;
margin-bottom: 29px;
}
.read{
font-weight: 400;
font-size: 18px;
color: #FFFFFF;
background: #28A745;
border-radius: 5px;
padding: 10px 30px;
border: none;
}
/* ============================================================================== */
.credit{
margin-left: 160px;
background-color: #28A745;
border-radius: 50%;
width: 60px;
height: 60px;
margin-bottom: 15px;
}
.bank{
width: 40px;
height: 40px;
margin-left: 9px;
margin-top: 5px;
}
.banking{
text-align: center;
font-weight: 400;
font-size: 20px;
margin-bottom: 15px;
color: #333333;
}
.ispum{
text-align: center;
font-weight: 400;
font-size: 18px;
color: #333333;
}
.bigCard{
margin-top:40px ;
}
/* ============================================================================== */
.yellowCard2{
margin-left: 50px;
}
.yellowCard{
background: #28A745;
width: 680px;
height: 460px;
}
.what{
padding-top: 84px;
color: #FFFFFF;
font-weight: 400;
font-size: 20px;
}
.bespoke{
font-weight: 300;
font-size: 38px;
color: #FFFFFF;
padding-bottom: 26px;
}
.dolor{
font-weight: 400;
font-size: 18px;
color: #FFFFFF;
}
.more{
margin-top: 15px;
font-weight: 400;
font-size: 18px;
border: 1px solid #FFFFFF;
border-radius: 5px;
color: #FFFFFF;
background: #28A745;
padding: 11px 44px;
}
/* ============================================================================== */
.thisCard{
text-align: center;
margin-top: 50px;
}
.this{
color: #333333;
font-weight: 400;
font-size: 20px;
}
.case{
font-weight: 300;
font-size: 38px;
margin-top: 15px;
color: #333333;
}
.elit{
margin-top: 30px;
font-weight: 400;
font-size: 18px;
color: #333333;
}
/* ============================================================================== */
.nout{
width: 320px;
height: 214px;
margin-top: 10px;
}
/* ============================================================================== */
.blueCard{
background: #0284D0;
width: 680px;
height: 465px;
}
.krujka{
width: 680px;
height: 465px;
}
.april{
padding-top: 110px;
font-weight: 400;
font-size: 20px;
color: #FFFFFF;
}
.bigPost{
margin-top: 10px;
font-weight: 300;
font-size: 38px;
color: #FFFFFF;
}
.vol{
font-weight: 400;
font-size: 18px;
color: #FFFFFF;
margin-top: 25px;
margin-bottom: 15px;
}
.blog{
font-weight: 400;
font-size: 18px;
border: 1px solid #FFFFFF;
border-radius: 5px;
padding: 11px 44px;
background: #0284D0;
color: #FFFFFF;
}
.blueCard2{
margin-left: 50px;
}
/* ============================================================================== */
.doe{
color: #333333;
font-weight: 400;
font-size: 25px;
text-align: center;
}
.president{
font-weight: 400;
font-size: 18px;
color: #333333;
text-align: center;
}
.jane{
width: 420px;
height: 280px;
margin-top: 40px;
}
/* ============================================================================== */
.phone{
width: 680px;
height: 460px;
}
.inputCard{
   padding-left: 50px;
   width: 680px;
   height: 460px;
   background: #F4F4F4;
   border-radius: 0px;
}
.name{
margin-top: 30px;
width: 620px;
height: 40px;
outline: none;
border: none;
}
.call{
   font-weight: 300;
font-size: 38px;
color: #333333;
padding-top: 80px;
}
.send{
font-weight: 400;
font-size: 18px;
color: #FFFFFF;
text-align: center;
width: 570px;
height: 42px;
background: #28A745;
border-radius: 5px;
border: none;
margin-top: 65px;
margin-bottom: 82px;
}
/* ============================================================================== */
footer{
background: #333333;
/* border-radius: 0px; */
}
.facebook{
   margin-top: 10px;
   text-align: center;
}
.copy{
   font-weight: 400;
font-size: 18px;
color: #FFFFFF;
margin-top: 10px;
}

/* ===========================Responsive=================================================== */
@media (max-width:575px) {
   .finance {
      color: #28A745;
      font-weight: 400;
      font-size: 31px;
      margin-left: 10px;
  }
  .list_a{
   margin: 0;
  }
  .list_itam {
   font-weight: 400;
   font-size: 14px;
   color: #FFFFFF;
}
.skyCard {
   text-align: center;
   margin-top: 44px;
   margin-bottom: 240px;
}
.credit{
   margin-left: 110px;
}
.offic{
   width: 100%;
}
.yellowCard{
   width: 100%;
   height: 100%;
   padding-bottom: 100px;
}
.nout{
   width: 100%;
}
.blueCard{
   width: 100%;
   height: 100%;
   padding-bottom: 100px;
}
.krujka{
   width: 100%;
   height: 100%;
}
.jane{
   width: 100%;
   height: 100%;
}
.phone{
   width: 100%;
   height: 100%;
}
.inputCard{
   width: 100%;
   height: 100%;
}
.send{
   width: 100%;
}
footer {
   width: 96%;
}
}